@use autoprefixer;
@import '_variables';

$transition-duration: .5s;

.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .75rem 1rem;
}

.brand {
  font: {
    size: 33pt;
  }
}

.invisible-links-wrapper {
  display: inline-table;
}

.nav-links {
  display: flex;
}

.nav-link {
  display: flex;
  position: relative;
}

.hamburger-box {
  display: none;
  background: #fff;
  height: 2rem;
  position: relative;
  width: 2rem;

  input[type=checkbox] {
    display: none;
  }
  label {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
  }
  .bun {
    position: absolute;
    height: .25rem;
    width: 100%;
    background-color: #000;
    transition: all .5s;
  }
  .diagonal.bun-top {
    position: relative;
    float: left;
  }
  .horizontal {
    position: relative;
    float: left;
    margin-top: .5rem;
  }
  .diagonal.bun-bottom {
    position: relative;
    float: left;
    margin-top: .5rem;
  }
  input[type=checkbox]:checked ~ .hamburger-spin > {
    .horizontal {
      opacity: 0;
    }
    .diagonal.bun-top {
      transform: rotate(135deg);
      margin-top: .75rem;
    }
    .diagonal.bun-bottom {
      transform: rotate(-135deg);
      margin-top: -1rem;
    }
  }
}

.nav-button {
  border: 2pt solid black;
  display: flex;
  float: left;
  font: {
    family: 'futura-pt', sans-serif;
    size: 15pt;
    weight: $medium;
  }
  justify-content: center;
  margin: 0 1.5rem 0 0;
  padding: .3rem 0;
  width: 7rem;
}

$colors: (
  peach: $peach,
  ultramarine: $ultramarine,
  berry: $berry,
  );
@each $name, $value in $colors {
  .nav-button-#{$name}-active {
    @extend .nav-button;
    background-color: $value;
    border-color: $value;
    color: white;
    font: {
      weight: $bold;
    }
    position: absolute;
  }
  .nav-button-#{$name}-active:hover {
    color: white;
  }
  .nav-button-#{$name}:hover {
    @extend .nav-button-#{$name}-active;
    float: left;
    position: static;
    transition-duration: .5s;
    transition-property: background-color;
    transition-timing-function: ease;
  }
  @media (hover:none),
  (hover:on-demand) {
    .nav-button-#{$name}:hover {
      /* suppress hover effect on devices that don't support hover fully */
      background: none;
      border: 2pt solid black;
      display: flex;
      font: {
        family: 'futura-pt', sans-serif;
        size: 15pt;
        weight: $medium;
      }
      justify-content: center;
      margin: 0 .75rem;
      padding: .3rem 0;
      width: 7rem;
    }
  }
}
.mobile-nav-footer {
  display: none;
}
@media only screen and (max-width: 758px) {
  .nav-bar {
    background-color: white;
    border: 0 solid;
    flex-wrap: wrap;
    height: 3.5rem;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    transition-property: border, height;
    transition-duration: .5s;
    z-index: 100;
  }
  .hamburger-box {
    display: inherit;
  }
  .invisible-links-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 0;
    justify-content: space-between;
    overflow: hidden;
    position: absolute;
    width: 0;
    transition: height .5s;
  }
  .nav-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }
  .nav-link {
    margin-top: 2rem;
  }
  .nav-button {
    margin: 0;
    width: 60vw;
  }
  .mobile-nav-footer {
    display: inherit;
  }
}

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 4rem; 
  padding-bottom: 2rem;
}

.social-media-button {
  align-items: center;
  // background-color: $berry;
  border: 2pt solid black;
  border-radius: 50%;
  // color: white;
  color: black;
  display: flex;
  font: {
    size: 14pt;
  }
  height: 2.75rem;
  justify-content: center;
  margin-left: .75rem;
  width: 2.75rem;
}

.social-media-button:hover {
  background-color: $berry;
  border-color: $berry;
  color: white;
  transition-duration: .5s;
  transition-property: background-color;
  transition-timing-function: ease;
}

