@use autoprefixer;
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; }

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

h1, h2, h3, h4, h5 {
  font-family: 'futura-pt';
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: #bc0077; }

main {
  flex: 1 0 auto; }

footer {
  flex-shrink: 0; }

.row {
  display: flex;
  flex-direction: row; }

.col {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%; }

.hidden {
  visibility: hidden; }

.heading-container {
  position: relative; }

.heading-text, .heading {
  font-family: 'futura-pt', sans-serif;
  font-size: 36pt;
  font-style: italic;
  font-weight: 500;
  white-space: nowrap; }

.heading {
  align-items: center;
  display: flex;
  flex-direction: row;
  float: left;
  height: 6rem;
  padding: 0 2rem 0 2rem; }

.heading-pattern {
  background-repeat: repeat;
  border-style: solid;
  border-width: 3pt;
  box-sizing: border-box;
  color: transparent;
  height: 6rem;
  margin-top: 2rem;
  margin-left: -2rem;
  opacity: .2;
  padding-left: calc(2rem - 2.5pt);
  padding-right: calc(2rem - 2.5pt); }

.heading-solid {
  position: absolute; }

@media only screen and (min-width: 759px) and (max-width: 1024px) {
  .heading-text, .heading {
    font-size: 28pt; }

  .heading {
    height: 5rem;
    padding: 0 1.75rem; }

  .heading-pattern {
    height: 5rem;
    margin-top: 1.5rem;
    margin-left: -1.5rem; } }
@media only screen and (max-width: 758px) {
  .heading {
    height: 4.25rem;
    padding: 0 1.5rem 0 1.5rem; }

  .heading-container {
    justify-content: center;
    padding: .25rem 0 .1rem 0; }

  .heading-text, .heading {
    font-size: 26pt; }

  .heading-pattern {
    height: 4.25rem;
    margin-top: 1rem;
    margin-left: -1rem; } }
.imagebox-container {
  position: relative; }

.imagebox {
  float: left; }

.imagebox-pattern {
  background-repeat: repeat;
  border-style: solid;
  border-width: 3pt;
  box-sizing: border-box;
  color: transparent;
  margin-top: 2rem;
  margin-left: -2rem;
  opacity: .2; }

.image {
  left: 0;
  position: absolute;
  top: 0; }

.textbox-container {
  position: relative; }

.textbox {
  float: left; }

.textbox-pattern {
  background-repeat: repeat;
  border-style: solid;
  border-width: 3pt;
  box-sizing: border-box;
  color: transparent;
  margin-top: 2rem;
  margin-left: -2rem;
  opacity: .2; }

.textbox-solid {
  box-sizing: border-box;
  position: absolute;
  top: 0; }

.expanding-container-row {
  justify-content: space-between;
  padding-left: .5rem; }

.x-container {
  display: flex;
  justify-content: flex-end;
  padding-right: .5rem;
  padding-top: .5rem; }

.x-box {
  height: 2rem;
  position: relative;
  width: 2rem; }
  .x-box input[type=checkbox] {
    display: none; }
  .x-box label {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99; }
  .x-box .x-cross {
    position: absolute;
    height: .25rem;
    width: 100%;
    background-color: #000;
    transition: all .5s; }
  .x-box .horizontal {
    position: relative;
    float: left;
    margin-top: .6rem;
    top: .25rem; }
  .x-box .vertical {
    position: relative;
    float: left;
    transform: rotate(90deg); }
  .x-box input[type=checkbox]:checked ~ .x-spin > .horizontal {
    transform: rotate(45deg); }
  .x-box input[type=checkbox]:checked ~ .x-spin > .vertical {
    transform: rotate(135deg); }

.preview-container {
  padding: .25rem 0 1rem 0; }

.work-heading {
  font-size: 24pt;
  font-weight: 500;
  margin-bottom: .25rem; }

.work-col {
  flex: 0 1 auto; }

.preview-image-row {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.work-screenshot {
  height: auto;
  transition: all .5s; }

.work-description-row {
  justify-content: space-between;
  padding: 0 3rem; }

.work-description {
  font-weight: bold;
  margin-top: .25rem; }

.bullets-list {
  margin-left: -1.25rem;
  margin-top: 0;
  padding-right: 1rem; }

.stack-heading {
  font-size: 18pt; }

.stack-list {
  font-family: 'futura-pt';
  font-size: 13pt;
  margin-left: -1.25rem;
  margin-top: .25rem;
  white-space: nowrap; }

.work-links-row {
  justify-content: center;
  width: 100%; }

.deployed-link {
  margin-left: 1rem; }

@media only screen and (min-width: 759px) and (max-width: 1024px) {
  .expanding-container-row {
    padding-bottom: .5rem; }

  .work-heading {
    font-size: 22.5pt; }

  .x-container {
    padding-right: .4rem;
    padding-top: .4rem; }

  .x-box .x-cross {
    height: .22rem;
    width: 85%; }

  .work-links-row {
    padding-top: 1rem; } }
@media only screen and (max-width: 758px) {
  .expanding-container-row {
    padding-bottom: .5rem; }

  .work-description-row {
    flex-direction: column;
    padding: 0 .25rem 0 .75rem; }

  .stack-heading {
    margin-top: 1rem; }

  .work-links-row {
    padding-top: 1rem; } }
@use autoprefixer;
.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .75rem 1rem; }

.brand {
  font-size: 33pt; }

.invisible-links-wrapper {
  display: inline-table; }

.nav-links {
  display: flex; }

.nav-link {
  display: flex;
  position: relative; }

.hamburger-box {
  display: none;
  background: #fff;
  height: 2rem;
  position: relative;
  width: 2rem; }
  .hamburger-box input[type=checkbox] {
    display: none; }
  .hamburger-box label {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%; }
  .hamburger-box .bun {
    position: absolute;
    height: .25rem;
    width: 100%;
    background-color: #000;
    transition: all .5s; }
  .hamburger-box .diagonal.bun-top {
    position: relative;
    float: left; }
  .hamburger-box .horizontal {
    position: relative;
    float: left;
    margin-top: .5rem; }
  .hamburger-box .diagonal.bun-bottom {
    position: relative;
    float: left;
    margin-top: .5rem; }
  .hamburger-box input[type=checkbox]:checked ~ .hamburger-spin > .horizontal {
    opacity: 0; }
  .hamburger-box input[type=checkbox]:checked ~ .hamburger-spin > .diagonal.bun-top {
    transform: rotate(135deg);
    margin-top: .75rem; }
  .hamburger-box input[type=checkbox]:checked ~ .hamburger-spin > .diagonal.bun-bottom {
    transform: rotate(-135deg);
    margin-top: -1rem; }

.nav-button, .nav-button-peach-active, .nav-button-peach:hover, .nav-button-ultramarine-active, .nav-button-ultramarine:hover, .nav-button-berry-active, .nav-button-berry:hover {
  border: 2pt solid black;
  display: flex;
  float: left;
  font-family: 'futura-pt', sans-serif;
  font-size: 15pt;
  font-weight: 500;
  justify-content: center;
  margin: 0 1.5rem 0 0;
  padding: .3rem 0;
  width: 7rem; }

.nav-button-peach-active, .nav-button-peach:hover {
  background-color: #cf775f;
  border-color: #cf775f;
  color: white;
  font-weight: 700;
  position: absolute; }

.nav-button-peach-active:hover, .nav-button-peach:hover {
  color: white; }

.nav-button-peach:hover {
  float: left;
  position: static;
  transition-duration: .5s;
  transition-property: background-color;
  transition-timing-function: ease; }

@media (hover: none), (hover: on-demand) {
  .nav-button-peach:hover {
    /* suppress hover effect on devices that don't support hover fully */
    background: none;
    border: 2pt solid black;
    display: flex;
    font-family: 'futura-pt', sans-serif;
    font-size: 15pt;
    font-weight: 500;
    justify-content: center;
    padding: .3rem 0;
    width: 7rem; } }
.nav-button-ultramarine-active, .nav-button-ultramarine:hover {
  background-color: #3d00ff;
  border-color: #3d00ff;
  color: white;
  font-weight: 700;
  position: absolute; }

.nav-button-ultramarine-active:hover, .nav-button-ultramarine:hover {
  color: white; }

.nav-button-ultramarine:hover {
  float: left;
  position: static;
  transition-duration: .5s;
  transition-property: background-color;
  transition-timing-function: ease; }

@media (hover: none), (hover: on-demand) {
  .nav-button-ultramarine:hover {
    /* suppress hover effect on devices that don't support hover fully */
    background: none;
    border: 2pt solid black;
    display: flex;
    font-family: 'futura-pt', sans-serif;
    font-size: 15pt;
    font-weight: 500;
    justify-content: center;
    padding: .3rem 0;
    width: 7rem; } }
.nav-button-berry-active, .nav-button-berry:hover {
  background-color: #bc0077;
  border-color: #bc0077;
  color: white;
  font-weight: 700;
  position: absolute; }

.nav-button-berry-active:hover, .nav-button-berry:hover {
  color: white; }

.nav-button-berry:hover {
  float: left;
  position: static;
  transition-duration: .5s;
  transition-property: background-color;
  transition-timing-function: ease; }

@media (hover: none), (hover: on-demand) {
  .nav-button-berry:hover {
    /* suppress hover effect on devices that don't support hover fully */
    background: none;
    border: 2pt solid black;
    display: flex;
    font-family: 'futura-pt', sans-serif;
    font-size: 15pt;
    font-weight: 500;
    justify-content: center;
    padding: .3rem 0;
    width: 7rem; } }
.mobile-nav-footer {
  display: none; }

@media only screen and (max-width: 758px) {
  .nav-bar {
    background-color: white;
    border: 0 solid;
    flex-wrap: wrap;
    height: 3.5rem;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    transition-property: border, height;
    transition-duration: .5s;
    z-index: 100; }

  .hamburger-box {
    display: inherit; }

  .invisible-links-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 0;
    justify-content: space-between;
    overflow: hidden;
    position: absolute;
    width: 0;
    transition: height .5s; }

  .nav-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem; }

  .nav-link {
    margin-top: 2rem; }

  .nav-button, .nav-button-peach-active, .nav-button-peach:hover, .nav-button-ultramarine-active, .nav-button-ultramarine:hover, .nav-button-berry-active, .nav-button-berry:hover {
    margin: 0;
    width: 60vw; }

  .mobile-nav-footer {
    display: inherit; } }
.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 2rem; }

.social-media-button {
  align-items: center;
  border: 2pt solid black;
  border-radius: 50%;
  color: black;
  display: flex;
  font-size: 14pt;
  height: 2.75rem;
  justify-content: center;
  margin-left: .75rem;
  width: 2.75rem; }

.social-media-button:hover {
  background-color: #bc0077;
  border-color: #bc0077;
  color: white;
  transition-duration: .5s;
  transition-property: background-color;
  transition-timing-function: ease; }

@use autoprefixer;
.jumbotron-container {
  position: relative; }

.jumbotron {
  background-repeat: 'repeat';
  height: 60vh;
  opacity: .2;
  margin-top: 5%; }

.jumbotron-text {
  font-family: 'futura-pt';
  font-size: 64pt;
  font-style: italic;
  font-weight: 700;
  margin-left: 4rem;
  margin-top: 2rem;
  position: absolute;
  top: 0; }

@media only screen and (max-width: 758px) {
  .jumbotron-text {
    margin-left: 2rem; } }
.about-heading-container {
  display: flex;
  justify-content: center;
  margin-top: -2rem;
  padding-bottom: 3rem; }

.about-heading {
  padding-right: 15rem; }

.about-row {
  justify-content: center; }

.about-col-left {
  align-items: flex-end; }

.skills-container {
  margin-right: -3rem;
  padding-top: 3rem; }

.about-col-right {
  flex-grow: 2; }

.icon-margin {
  margin-right: .5rem; }

.fast-facts {
  padding: 2rem 0 2rem 8rem; }

.fast-facts-text {
  display: flex;
  flex-direction: column;
  font-family: futura-pt;
  font-size: 13pt;
  padding: .5rem 2rem .5rem 1rem;
  white-space: nowrap; }

.icon-list {
  list-style-type: none; }

.icon-list-item-row {
  display: flex;
  flex-grow: 2;
  padding-bottom: .5rem;
  width: 100%; }

.profession-list-item {
  margin-left: -.25rem; }

.craftmaker-list-item {
  margin-left: .25rem;
  margin-right: .5rem; }

.about-me {
  margin-top: -5rem;
  padding-left: 11rem; }

.about-me-text {
  padding: 1.5rem 2rem;
  max-width: 30rem; }

@media only screen and (min-width: 2000px) {
  .about-heading-container {
    padding-bottom: 2rem; }

  .fast-facts-text {
    font-size: 16pt; }

  .about-me {
    margin-top: -4rem; } }
@media only screen and (min-width: 759px) and (max-width: 1024px) {
  ul {
    margin: 0; }

  .about-heading-container {
    margin-top: 0;
    padding: 1rem 0 2rem 8vw; }

  .headshot-container {
    margin-top: 0;
    padding-left: 6rem; }

  .headshot {
    height: 18rem !important;
    width: 18rem !important; }

  .fast-facts {
    padding: 1rem 0 0 8rem; }

  .fast-facts-row {
    display: block; }

  .skills-container {
    margin-right: -1rem; }

  .about-me {
    padding: 6rem 0 0 8rem; }

  .about-me-text {
    max-width: 40vw; } }
@media only screen and (max-width: 758px) {
  .about-heading-container {
    margin: 0;
    padding: 0; }

  .about-heading {
    padding: 0; }

  .about-row {
    flex-wrap: wrap; }

  .about-col-left, .about-col-right {
    align-items: center; }

  .headshot-container {
    padding: 1rem 5rem 0 0; }

  .headshot {
    height: 15rem !important;
    width: 15rem !important; }

  .fast-facts {
    padding: 2rem 0 0 0;
    margin-right: -4rem; }

  .fast-facts-col {
    order: -1; }

  .fast-facts-text {
    padding-bottom: 1rem; }

  .bullet-list-heading {
    padding-bottom: 1rem; }

  .fast-facts-row {
    display: block; }

  ul {
    margin: 0; }

  .skills-container {
    margin: 0 -4rem 0 0;
    padding: 1rem 0 0 0; }

  .about-me {
    margin: 0;
    padding: 1rem 0 0 0; }

  .about-me-text {
    width: 70vw; } }
.work-content-row {
  flex-wrap: wrap;
  justify-content: center; }

.project-left {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 3rem; }

.project-right {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 3rem; }

.project-1-container {
  margin-top: 1.5rem;
  margin-left: 0; }

.project-4-container {
  margin-top: 1.5rem;
  margin-left: 2rem; }

@media only screen and (min-width: 759px) and (max-width: 1024px) {
  .project-left {
    margin-right: 3rem;
    margin-bottom: 2rem; }

  .project-right {
    margin-left: 3rem;
    margin-bottom: 2rem; }

  .project-1-container {
    margin-left: 5rem; } }
@media only screen and (max-width: 758px) {
  .project-left, .project-right {
    margin-bottom: 1rem; }

  .project-right {
    margin-left: 5rem; }

  .project-1-container {
    margin-left: 2rem;
    margin-top: 3rem; }

  .project-4-container {
    margin-top: 0; } }
.form-container {
  display: flex;
  justify-content: center; }

.message-form {
  padding: 2rem; }

.text-input {
  background: none;
  border: none;
  border-bottom: 2pt solid black;
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  height: 2rem;
  width: 18rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.text-input:focus {
  border-bottom: 2pt solid #3d00ff;
  outline: none; }

.text-label {
  font-family: futura-pt;
  padding-bottom: 1rem; }

.textarea-input {
  border: 2pt solid black;
  border-radius: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  margin-top: .75rem;
  min-height: 8rem;
  min-width: 50vw;
  padding: .5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.textarea-input:focus {
  border: 2pt solid #3d00ff;
  outline: none; }

.textarea-label {
  font-family: futura-pt; }

.submit-row {
  align-items: center;
  padding-top: 2rem; }

.submit-button {
  background-color: white;
  border: 2pt solid black;
  border-radius: 0;
  display: flex;
  font-family: 'futura-pt', sans-serif;
  font-size: 15pt;
  font-weight: 500;
  justify-content: center;
  margin-right: 1rem;
  padding: .3rem 0;
  width: 7rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.submit-button:hover:enabled,
.submit-button:focus:enabled {
  background-color: #009980;
  border-color: #009980;
  color: white;
  cursor: pointer;
  font-weight: solid;
  outline: none;
  transition: background-color .5s ease; }

.submit-button:disabled {
  border-color: grey;
  color: grey; }

.send-status {
  align-items: center;
  display: flex;
  font-family: 'futura-pt', sans-serif;
  font-size: 15pt;
  font-weight: 700; }

.sending {
  color: #3d00ff; }

.successful {
  color: green; }

.failed {
  color: red; }

.send-status-icon {
  margin-right: .25rem; }

@media only screen and (min-width: 759px) and (max-width: 1024px) {
  .textarea-input {
    min-width: 60vw;
    min-height: 20vh; } }
@media only screen and (max-width: 758px) {
  .form-container {
    padding-top: 2rem; }

  .text-input {
    width: 65vw; }

  .textarea-input {
    min-height: 18vh;
    min-width: 65vw; }

  .send-status {
    font-size: 13pt;
    max-width: 35vw; }

  .send-status-icon {
    margin-right: .5rem; } }

/*# sourceMappingURL=index.css.map */
