@use autoprefixer;
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; }

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

h1, h2, h3, h4, h5 {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: #bc0077; }

main {
  flex: 1 0 auto; }

footer {
  flex-shrink: 0; }

.heading-container {
  display: flex;
  margin-top: 4rem;
  position: relative;
  padding-bottom: 4rem;
  padding-left: 15vw; }

.heading-text, .heading {
  font-family: 'futura-pt';
  font-size: 36pt;
  font-style: italic;
  font-weight: 500; }

.heading {
  align-items: center;
  display: flex;
  height: 6rem;
  padding: 0 2rem 0 2rem;
  position: absolute;
  top: 0; }

.heading-pattern {
  background-repeat: repeat;
  border-style: solid;
  border-width: 3pt;
  color: transparent;
  height: calc(6rem - 5pt);
  margin-top: .2em;
  margin-left: -.2em;
  opacity: .2;
  padding-left: calc(2rem - 2.5pt);
  padding-right: calc(2rem - 2.5pt); }

.heading-solid {
  margin-top: -.2em;
  margin-left: .2em; }

@media only screen and (max-width: 758px) {
  .heading-container {
    justify-content: center;
    padding: 1rem 0 5rem 0; }

  .heading-text, .heading {
    font-size: 28pt; } }
@use autoprefixer;
.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .75rem 1rem; }

.brand {
  font-size: 33pt; }

.nav-links {
  display: flex; }

.nav-link {
  position: relative; }

.hamburger-container {
  position: sticky; }

.hamburger-box {
  display: none;
  background: #fff;
  height: 2rem;
  position: relative;
  width: 2rem; }
  .hamburger-box input[type=checkbox] {
    display: none; }
  .hamburger-box label {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%; }
  .hamburger-box .bun {
    position: absolute;
    height: .25rem;
    width: 100%;
    background-color: #000;
    transition: all .5s; }
  .hamburger-box .diagonal.bun-top {
    position: relative;
    float: left; }
  .hamburger-box .horizontal {
    position: relative;
    float: left;
    margin-top: .5rem; }
  .hamburger-box .diagonal.bun-bottom {
    position: relative;
    float: left;
    margin-top: .5rem; }
  .hamburger-box input[type=checkbox]:checked ~ .hamburger-spin > .horizontal {
    opacity: 0; }
  .hamburger-box input[type=checkbox]:checked ~ .hamburger-spin > .diagonal.bun-top {
    transform: rotate(135deg);
    margin-top: .75rem; }
  .hamburger-box input[type=checkbox]:checked ~ .hamburger-spin > .diagonal.bun-bottom {
    transform: rotate(-135deg);
    margin-top: -1rem; }

.nav-button, .nav-button-peach-active, .nav-button-peach:hover, .nav-button-ultramarine-active, .nav-button-ultramarine:hover, .nav-button-berry-active, .nav-button-berry:hover {
  border: 2pt solid black;
  display: flex;
  font-family: 'futura-pt', sans-serif;
  font-size: 15pt;
  font-weight: 500;
  justify-content: center;
  margin: 0 1.5rem 0 0;
  padding: .3rem 0;
  width: 7rem; }

.nav-button-peach-active, .nav-button-peach:hover {
  background-color: #cf775f;
  border-color: #cf775f;
  color: white;
  font-weight: 700;
  position: absolute;
  top: 0; }

.nav-button-peach:hover {
  position: static;
  transition-duration: .5s;
  transition-property: background-color;
  transition-timing-function: ease; }

@media (hover: none), (hover: on-demand) {
  .nav-button-peach:hover {
    /* suppress hover effect on devices that don't support hover fully */
    background: none;
    border: 2pt solid black;
    display: flex;
    font-family: 'futura-pt', sans-serif;
    font-size: 15pt;
    font-weight: 500;
    justify-content: center;
    margin: 0 .75rem;
    padding: .3rem 0;
    width: 7rem; } }
.nav-button-ultramarine-active, .nav-button-ultramarine:hover {
  background-color: #3d00ff;
  border-color: #3d00ff;
  color: white;
  font-weight: 700;
  position: absolute;
  top: 0; }

.nav-button-ultramarine:hover {
  position: static;
  transition-duration: .5s;
  transition-property: background-color;
  transition-timing-function: ease; }

@media (hover: none), (hover: on-demand) {
  .nav-button-ultramarine:hover {
    /* suppress hover effect on devices that don't support hover fully */
    background: none;
    border: 2pt solid black;
    display: flex;
    font-family: 'futura-pt', sans-serif;
    font-size: 15pt;
    font-weight: 500;
    justify-content: center;
    margin: 0 .75rem;
    padding: .3rem 0;
    width: 7rem; } }
.nav-button-berry-active, .nav-button-berry:hover {
  background-color: #bc0077;
  border-color: #bc0077;
  color: white;
  font-weight: 700;
  position: absolute;
  top: 0; }

.nav-button-berry:hover {
  position: static;
  transition-duration: .5s;
  transition-property: background-color;
  transition-timing-function: ease; }

@media (hover: none), (hover: on-demand) {
  .nav-button-berry:hover {
    /* suppress hover effect on devices that don't support hover fully */
    background: none;
    border: 2pt solid black;
    display: flex;
    font-family: 'futura-pt', sans-serif;
    font-size: 15pt;
    font-weight: 500;
    justify-content: center;
    margin: 0 .75rem;
    padding: .3rem 0;
    width: 7rem; } }
@media only screen and (max-width: 758px) {
  .nav-bar {
    flex-wrap: wrap;
    position: relative; }

  .hamburger-box {
    display: inherit; }

  .nav-links {
    background-color: white;
    border: 4pt black solid;
    flex-direction: column;
    padding: 0 2rem 2rem 2rem;
    position: absolute;
    right: -200vw;
    top: 20vh;
    transition: right 1s;
    z-index: 100; }

  .nav-link {
    margin-top: 2rem; }

  .nav-button, .nav-button-peach-active, .nav-button-peach:hover, .nav-button-ultramarine-active, .nav-button-ultramarine:hover, .nav-button-berry-active, .nav-button-berry:hover {
    margin: 0;
    width: 60vw; } }
.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 2rem; }

.social-media-button {
  align-items: center;
  border: 2pt solid black;
  border-radius: 50%;
  color: black;
  display: flex;
  font-size: 14pt;
  height: 2.75rem;
  justify-content: center;
  margin-left: .75rem;
  width: 2.75rem; }

.social-media-button:hover {
  background-color: #bc0077;
  border-color: #bc0077;
  color: white;
  transition-duration: .5s;
  transition-property: background-color;
  transition-timing-function: ease; }

@use autoprefixer;
.jumbotron-container {
  position: relative; }

.jumbotron {
  background-repeat: 'repeat';
  height: 60vh;
  opacity: .2;
  margin-top: 5%; }

.jumbotron-text {
  font-family: 'futura-pt';
  font-size: 64pt;
  font-style: italic;
  font-weight: 700;
  margin-left: 4rem;
  margin-top: 2rem;
  position: absolute;
  top: 0; }

@media only screen and (max-width: 758px) {
  .jumbotron-text {
    margin-left: 2rem; } }

/*# sourceMappingURL=index.css.map */
